# Xcode
DerivedData/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
*.xcscmblueprint
*.pbxuser

# Build products
build/
*.app
*.ipa
*.dSYM.zip
*.dSYM/

# Swift Package Manager
.swiftpm/
.build/
.xcode-version

# OS generated
.DS_Store
.Trashes
.idea/
.vscode/

# Env / secrets
.env
.env.local
*.env.*.local

# Logs
*.log
xcuserdata/

# macOS
.AppleDouble
.LSOverride
Icon
._*

# iCloud
*.icloud
